@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen+Mono&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif,'Oxygen Mono', monospace,'PT Serif', serif;

}


.App{
    font-family: sans-serif;
    text-align: center;
}